.page_under_construction{
    position: relative;
    display: flex;
    height: 100vh;
    width: auto;
    background-image: url('../../../image/construction.gif');
    background-size: cover;
    background-repeat: no-repeat;
    
}