.card{
    border-radius: 20px !important;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    &:hover{
        transform: scale(1.1);
        -webkit-box-shadow: 7px 7px 5px 0px rgba($color-primary, 0.75);
        -moz-box-shadow:    7px 7px 5px 0px rgba($color-primary, 0.75);
        box-shadow:         7px 7px 5px 0px rgba($color-primary, 0.75);
    }
}

@media (max-width: 991px){
.card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
}